{% load endless %}
{% load friendshiptags %}
{% lazy_paginate 20,40 requests%}
{% for requested in requests %}
<li>
        {% if requested %}
        <ul class="nav nav-pills users">
        	<li class="va-nav-pill">
            	<a href={% url 'profile' requested.from_user.username %}" style="color:rgba(0,0,0,0.75)">
            	<img class="sm_img_round drop-shadow-lt" src="{{ requested.from_user.profile.profile_image_url }}"/>
            {{ requested.from_user.username }}</a>
            </li>
            <li class="friends drop-shadow-lt">{% are_friends request.user requested.from_user %}</li>     
            <li class="follows drop-shadow-lt">{% is_following request.user requested.from_user %}</li>
        </ul>
        <hr class="small-hr"/>
        {% else %}
        <h3 style="alert alert-danger">Sorry, no friendship requests</h3>
        {% endif %}
    </li>
    
{% endfor %}
{% show_more %}