{% extends "base.html" %}
{% block content %} 
<div class="text-center">
<h1 class="border-md">{{username}}'s Friends</h1>
{% if request.user.username == username %}
<div class="btn-group notice-btns">
	<a class="col-xs-4 btn glyphicon glyphicon-user border-sm lo-green btn-success" 
  		href="{% url 'friendship_view_friends' username %}" style="top:0px">
		<i class="glyphicon glyphicon-user border-sm lo-white" 
			style="position:absolute;margin-left:-29px;margin-top:15px;"></i>
	</a>
  	<a class="col-xs-4 btn btn-sm btn-success" style="height:48px;padding-top:13px"
  	href="{% url 'friendship_request_list' %}">Requests</a>
  	<a class="col-xs-4 btn btn-sm btn-success" style="height:48px;padding-top:13px"
  		href="{% url 'friendship_requests_rejected' %}">Rejected</a>

</div>
<hr class="small-hr"/>
{%endif%}
<div class="input-group controls">
	<div class="input-group-addon">
		<i class="glyphicon glyphicon-search border-sm lo-white"></i></div>
<input type="text" name="q" 
	class="auto form-control" 
	style="width: 100%; font-size: 16px;height:40px;" 
	autocomplete="off"/>
</div>
<hr class="fancy"/> 
<ul id="friends">
{% include page_template %}	
</ul>
</div>
{% endblock %} 
{% block tail_js %}

<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>

<script>
$('#friends').endlessPaginate({
	paginateOnScroll: true,
	onCompleted: function(context,fragment){
		{% include 'includes/scripts/ajax_f_f.html' %}
	}
});
$('.auto').on("input", function() {
	var $value = $(this).val();
   if ($value.length >= 2){
    $.get('{% url "f_autocomplete"%}?q=' + $value +'&username=' + '{{username}}', {}, function(data){
        {% include 'includes/scripts/ajax_f_f.html' %}
		$('#friends').html(data);
    $('#friends').endlessPaginate({
				paginateOnScroll: true,
				onCompleted: function(context, fragment) {
				{% include 'includes/scripts/ajax_f_f.html' %}
      		}
   	});
    });
  }
});
</script>

{% endblock %}