{% extends "socialaccount/base.html" %}

{% load i18n staticfiles%}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}
<div class="text-center">
	<span>
		<img src="{% static 'img/twitter-big.png' %}" 
    		class="round-120 img-thumbnail drop-shadow">
	</span>
</div>
<div class="text-center inset">
<div class="alert alert-danger">
<h1 class="border-md">{% trans "Social Network Login Failure" %}</h1>

<p class="border-sm lobster lo-white">{% trans "An error occurred while attempting to login via your social network account." %}</p>
</div>
</div>
{% endblock %}
