{% extends "socialaccount/base.html" %}

{% load i18n crispy_forms_tags staticfiles %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="text-center">
	<span>
		<img src="{% static 'img/twitter-big.png' %}" 
    		class="round-120 img-thumbnail drop-shadow">
	</span>
</div>
<div class="text-center inset pad-lr-5">
    <h1 class="border-md lo-yellow">{% trans "Sign Up" %}</h1>

<p class="border-sm lobster lo-white">
{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}
  {{ form | crispy }}
  <input id="startLat" type="hidden" name="startLat" value="0" /> 
  <input id="startLon" type="hidden" name="startLon" value="0" /> 
  {% if redirect_field_value %}
  <input type="hidden"" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-md btn-info border-md lo-white lobster drop-shadow-lt" type="submit">{% trans "Sign Up" %}</button>
</form>

</div>
{% endblock %}
{% block tail_js %}

<script type="text/javascript">
window.onload = function() {
//$(".datepicker" ).datepicker({
//  dateFormat: "yy-mm-dd",
//  defaultDate: "{{ form.date_of_birth"});
  $('label[for="id_state"]').hide()
  $('#id_state').hide();
  var startPos;
  var geoOptions = {
    timeout: 10 * 1000,
   enableHighAccuracy: true,
    maximumAge: 5 * 60 * 1000,
  }
$('#id_country').on('change',function(e){
    var optionSelected = $(this).val();
    if (optionSelected == "US"){
    	$('label[for="id_state"]').html('State *').show()
  		$('#id_state').show();
 	}else{
    	$('label[for="id_state"]').hide()
  		$('#id_state').hide();
 	}
});
  var geoSuccess = function(position) {
    startPos = position;
    $('#startLat').val(startPos.coords.latitude);
    $('#startLon').val(startPos.coords.longitude);
  };
  var geoError = function(error) {
    console.log('Error occurred. Error code: ' + error.code);
    // error.code can be:
    //   0: unknown error
    //   1: permission denied
    //   2: position unavailable (error response from location provider)
    //   3: timed out
  };

  navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);
};
</script>
{% endblock %}

