{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="border-md">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" name="action" class="btn btn-info drop-shadow border-md lo-white">
        <h2 style="margin-top:10px;">{% trans "Change Password" %}</h2></button>
    </form>
</div>
{% endblock %}
