{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="border-md">{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="input" name="action" class="btn btn-info border-md lo-white drop-shadow">
        <h2 style="margin-top:10px;">{% trans "Set Password" %}</h2>"/>
    </form>
</div>
{% endblock %}
