# Elastic Beanstalk Files.elasticbeanstalk/*!.elasticbeanstalk/*.cfg.yml!.elasticbeanstalk/*.global.yml# nodeJS# djreact/*node_modules/*search/*/npm/package-lock.json.idea/*assets/*build/*# PyCharm/project/pydevproject/python/python3/python36/setup_postgres.sh/socketconnection.py/sockserver.py# ignore all text files except requirements/*.txt!/requirements.txt/*.png/*.sh/*.sqlite3/*.so.*/*.so/webpack-stats*# Staticmedia/*static/*src/*# RNcome_together/*# Other_420cms/*