{% load el_pagination_tags %}
{% load comments %}
{% load hashtags_tags %}
{% load friendshiptags %}
{% load likes_inclusion_tags %}
{% lazy_paginate 4,20 posts%}
{% for post in posts %}
<div class="row-fluid">
<hr class="fancy" />
<span style="display:inline-block">

<img class="p_img_round" src="{{ post.user.profile.profile_image_url }}"/>
<ul class="nav nav-pills users">
<li>{{ user.username }}</li>

</ul>
<h4 style="font-size:16px"><i class="glyphicon glyphicon-time status-time-icon"></i>&nbsp&nbsp{{ post.pub_date.date }}&nbsp {{post.pub_date.time}}</h4>
</span>
{%if post.picture != "" %}
<img class="img-thumbnail" src="{{MEDIA_URL}}{{ post.picture }}" />
{%endif%}
</div>
<h4>{{ post.text | urlize_hashtags }}</h4>
<hr class="fancy" />
<div class="votes">
{% likes post %}
</div>

<hr class="fancy" />

<div class="comments static">
<div class="comments endless_page_template">
{% render_comment_list for post %}
</div>
{% render_comment_form for post %}
</div>
{% endfor %}
{% show_more %}