{% load wagtailcore_tags wagtailimages_tags %}

{# Individual blog item in a list - used on blog index and home page #}
<a class="list-group-item" href="{% pageurl blog %}">
  <div class="text-center">
    {% if blog.feed_image %}
      <div>
        {% image blog.feed_image width-300 as img %}
        <img class="drop-shadow img-thumbnail" src="{{ img.url }}" />
      </div>
    {% endif %}
    <div>
      <span class="border-sm lobster lo-white">{{ blog.title }}</span>
      <span class="lobster"> - {{ blog.date }}</span>
      {% if blog.search_description %}
        <p>{{ blog.search_description }}</p>
      {% endif %}
    </div>
  </div>
</a>
