{% extends "base.html" %}
{% block content %}
<div id="terms" class="text-justify">
<h3 dir="ltr" >Terms of Use</h3>

<p>Updated May 8, 2015</p>

<p>Welcome to 420WithMe! This End User License Agreement (EULA) is a legally enforceable contract that is meant 
to protect both you, the user, and 420WithMe from legal liability. By using or accessing 420WithMe, you agree 
to the Terms and Conditions below and our Privacy Policy, as routinely updated, which can be found at 
420withme.com/privacy. Apple, Android, 420WitMe, The Healing Tree, or any other participating Third Parties 
are in no way responsible for the application or the content posted therein.</p>

<h4 dir="ltr" >Privacy</h4>

<p>It is 420WithMe's policy to ask for as little personally-identifiable information as possible. Our mission 
is not to collect your data, but to unite common-minded people in one network: the 420WithMe Network. We've 
written an entire Privacy Policy that states exactly what information we collect and how it is used (found at 
420withme.com/terms-of-use.html). We encourage you to review both the Terms and Conditions and Privacy Policy, 
as well as these Terms of Use, prior to accessing 420WithMe.</p>

<h4 dir="ltr" >Sharing Information</h4>

<p>You, the user, generate, own and control all content you post on the 420WithMe Network. In addition, you 
control who has permission to view, access and comment on any material posted on the 420WithMe Network.</p>

<p>If you chose to post intellectual property to the 420WithMe system, you agree to grant 420WithMe a non-exclusive,
 transferable, sub-licensable, royalty-free, worldwide license to use, copy, distribute and display such IP via 
 any media content so long as it remains in the 420WithMe system. You also agree to permit 420WithMe to distribute
 derivative works of your content and to grant both explicit and implicit sublicenses to anyone. Further, your
  submission of content does not create any obligation on 420WithMe to publish your submitted content or to retain 
  your consent. If, however, you choose to delete such IP content, it will be removed from the 420WithMe system 
  and all back-up databases within 30 days. After said 30 day period, the IP license described herein will be 
  revoked.</p>

<p>In the event of any third party claim that the 420WithMe network or the user's possession and use of 420WithMe 
infringes that third party's intellectual property rights, 420WithMe, not Apple, Android, The Healing Tree, or 
any third-party benificiary will be solely responsible for the investigation, defense, settlement and discharge 
of any such intellectual property infringement claim.</p>

<p>If you choose to make your 420WithMe profile "Public", you understand that it will become accessible to 
everyone, even those outside of the 420WithMe network. This will include your username, description, posts, 
photos and any other information you provided to the 420WithMe system. If you make a suggestion on how to improve 
the 420WithMe network, you will not be compensated for your feedback or ideas. We welcome your comments and strive 
to provide the best system possible.</p>

<p>The license granted to you, the user, is a non-transferable license to use the 420WithMe Network and must be in 
compliance with the Usage Rules set forth in the App Store Terms of Service and Google Play Policies.</p>

<h4 dir="ltr" >Safety</h4>

<p>420WithMe aims to keep our network as safe and secure as possible and in order to do so, you agree to the 
following rules and regulations: You cannot "data mine" user profiles with automated systems such as harvesting 
bots, robots or scrapers without prior written permission from the 420WithMe network.</p>

<p>You cannot use the 420WithMe network to spam other users.</p>

<p>You cannot attempt to hack the 420WithMe network, utilize any malware or in anyway try to infiltrate the 
420WithMe network or other users' profiles.</p>

<p>You cannot post racist, defamatory, obscene, demeaning, threatening, pornographic, violent or other content 
that 420WithMe determines, in its sole discretion, to be harmful.</p>

<p>You cannot post any content that 420WithMe determines, in its sole discretion, that such content is, or may be, 
an infringement of any intellectual property rights, an invasion of privacy or otherwise injurious or objectionable 
to 420WithMe or any third party.</p>

<p>You cannot use the 420WithMe network to distribute illegal substances.</p>

<p>You cannot use the 420WithMe network to plan to consume illegal substances.</p>

<p>You cannot post any content that violates federal, state or local laws, including any applicable rules, 
regulations or ordinances.</p>

<p>You cannot create an account for another person without their permission.</p>

<p>If you are banned by 420WithMe, you cannot create another account.</p>

<p>You cannot use the 420WithMe network if you are under the age of 18.</p>

<p>If, at any time, you encounter a post that violates any of these rules, it is your responsibility to 
report the post using the report button next to the like and share buttons. You may also report a post using 
the support form at 420WithMe.com. If you break any of these rules, 420WithMe will remove the content and 
immediately terminate your account. 420WithMe will not accept any responsibility relating to any posted content.</p>

<p>By posting content, you acknowledge, warrant and represent that:</p>

<ol ><li><p>you either own or otherwise control all of the rights to any content that you post to the 420WithMe 
network including, without limitation, all the rights necessary for you to provide, post, upload, input or submit 
the content, or that your use of the content is a protected fair use;</p>

</li>
<li><p>you will not knowingly and with intent to defraud provide material and misleading or false information;</p>

</li>
<li><p>you will not post any content that, in whole or in part, (a) is illegal, obscene, defamatory, threatening, 
or otherwise injurious or objectionable to 420WithMe or any third-party; (b) infringes upon any intellectual 
property rights, (c) is an invasive of privacy, (d) encourages or advocates illegal or wrongful conduct, 
(e) constitutes the advertising of any product or service, or (f) includes a virus or is otherwise intended to 
damage the 420WithMe system/Network;</p>

</li>
<li><p>you will not post any content to that otherwise violates the Terms; and</p>

</li>
<li><p>you will indemnify and hold 420WithMe harmless for and against any and all claims, damages, losses or other 
liabilities incurred by 420WithMe, and/or its members, officers, or employees resulting from your use of or any 
content you post to the 420WithMe system/Network.</p>

</li>
</ol><p>C. You acknowledge and agree that:</p>

<ol ><li><p>420WithMe, in its sole direction, may prohibit you from posting any content to the 420WithMe 
system/Network at any time;</p>

</li>
<li><p>420WithMe does not necessarily pre-screen or regularly review posted content, but that 420WithMe 
shall have the right, in 420WithMe's sole discretion, to remove or modify any content that 420WithMe considers 
to violate the Terms or for any other reason. 420WithMe may also delegate this authority or any other rights or 
responsibilities of this contract;</p>

</li>
<li><p>all content posted to the 420WithMe system/Network is the sole responsibility of the individual who 
originally posted the content. You also acknowledge and agree that all opinions expressed by users of 420WithMe's 
system/Network are expressed strictly in their individual capacities, and not as representatives of 420WithMe, its 
members, officers, or employees;</p>

</li>
<li><p>you will evaluate and bear all risks associated with the use of any Content or other material posted to the 
MTA Site, the Knowledge Site, or Blog, including any reliance on the accuracy, completeness, or usefulness of such 
Content or material; and</p>

</li>
<li><p>you will not use 420WithMe name or any other author's name to endorse or promote any product, opinion, 
cause or political candidate, and you will not represent, directly or indirectly, that your personal opinions as 
endorsed by 420WithMe.</p>

</li>
</ol><h4 dir="ltr" >Support</h4>

<p>If at anytime, you encounter a problem or bug in your use of the 420WithMe App, please report the problem using the support form at 420WithMe.com. 420WithMe and you also acknowledge that third-party associations have no obligation whatsoever to furnish any maintenance and support services with respect to the Licensed Application.</p>

<h4 dir="ltr" >Amendments</h4>

<p>420WithMe reserves the right to amend this agreement at any time, with or without notice to the user. By continuing to use 420WithMe after any amendment to this agreement, you agree to be bound to the updated terms and conditions.</p>

<h4 dir="ltr" >Termination</h4>

<p>If you violate any section of this agreement, 420WithMe can remove access to your account immediately and without prior notice if we deem reasonable to do so. In the latter event, you will be notified via email, if an email address is associated with the account. While your relationship with 420WithMe will come to a close, all applicable sections of this agreement (as determined by 420WithMe) shall remain in effect.</p>

<h4 dir="ltr" >Venue and Disputes</h4>

<p>If anyone makes a claim against 420WithMe related to your use of the 420WithMe system, you will indemnify and hold 420WithMe harmless against all damages, losses, and expenses of any kind (including legal fees) related to the claim. While 420WithMe has rules related to the use of our system, 420WithMe in no way controls or directs users' actions and, as such, is not responsible for the information they choose to share or provide on 420WithMe. 420WithMe is not responsible for any offensive, inappropriate, obscene, unlawful or otherwise objectionable content or information you may find on 420WithMe, nor are we responsible for the conduct of any user.</p>

<p>In the event of any failure of 420WithMe to conform to any applicable warranty, the user may notify Apple, and Apple will refund the purchase price for 420WithMe to that user; and that, to the maximum extent permitted by applicable law, Apple will have no other warranty obligation whatsoever with respect to 420WithMe, and any other claims, losses, liabilities, damages, costs or expenses attributable to any failure to conform to any warranty will be 420WithMe' sole responsibility.</p>

<p>WHILE 420WITHME AIMS TO KEEP ITS SYSTEM SAFE AND SECURE, YOU USE IT AT YOUR OWN RISK. THE 420WITHME SYSTEM IS PROVIDED AS IS WITHOUT ANY EXPRESSED OR IMPLIED WARRANTIES. WE DO NOT STATE OR IMPLY THAT 420WITHME WILL ALWAYS FUNCTION CORRECTLY, WITHOUT DISRUPTION, OR WITHOUT ERROR. 420WITHME IS NOT RESPONSIBLE FOR THE ACTIONS, CONTENT, DATA OR OTHER INFORMATION PROVIDED OR SHARED BY USERS OR THIRD PARTIES. YOU AGREE TO INDEMNIFY AND HOLD HARMLESS 420WITHME , OUR OFFICERS, DIRECTORS, MEMBERS, EMPLOYEES, CONSULTANTS, AGENTS, AND ATTORNEYS FROM ANY CLAIM ARISING FROM THE USE OF THE 420WITHME SYSTEM OR A THIRD PARTY IN CONJUNCTION WITH 420WITHME . 420WITHME WILL NOT BE LIABLE FOR ANY LOST PROFIT OR DAMAGES ARISING IN CONNECTION WITH THIS AGREEMENT OR THE 420WITHME SYSTEM. SOME LAWS MAY NOT ALLOW THE EXCLUSION OF LIABILITY OR DAMAGES, IN WHICH CASE THE LIMITATION OR EXCLUSIONS SHALL NOT APPLY TO YOU AND 420WITHME'S LIABILITY SHALL NOT EXCEED WHAT IS PERMITTED BY LAW.</p>

<p>420WITHME , AND ITS OFFICERS, DIRECTORS, MEMBERS, EMPLOYEES, CONSULTANTS, AGENTS, AND ATTORNEYS WILL NOT BE 
LIABLE FOR ANY LOSSES OR DAMAGES OF ANY KIND ARISING FROM THE USE OF OR INABILITY TO USE THE 420WITHME'S SYSTEM, 
INCLUDING BUT NOT LIMITED TO ANY LOSSES OR DAMAGES RESULTING FROM OR RELATED TO ANY MISSTATEMENTS, ERRORS OR 
OMISSIONS IN OR INVOLVING INFORMATION ON OR REFERRED TO IN THE 420WITHME'S SYSTEM. YOU EXPRESSLY AGREE THAT YOU 
USE THE 420WITHME SYSTEM, SOLELY AT YOUR OWN RISK. IN THE EVENT THAT YOU HAVE A DISPUTE WITH ANOTHER USER RELATED 
TO, ARISING FROM, OR IN ANY WAY CONNECTED WITH THE USE OF THE 420WITHME SYSTEM, YOU RELEASE 420WITHME, AND ITS 
OFFICERS, DIRECTORS, MEMBERS, EMPLOYEES, CONSULTANTS, AGENTS AND ATTORNEYS FROM ANY CLAIMS, DEMANDS, AND DAMAGES 
OF EVERY KIND AND NATURE ARISING OUT OF OR IN ANY WAY CONNECTED WITH SUCH A DISPUTE.</p>

<p>You and 420WithMe also acknowledge that 420WithMe, not Apple, Android, The Healing Tree, or any other participating third-party assoiciation is responsible for addressing any claims of the end-user or any third party relating to 420WithMe or the user's possession and/or use of 420WithMe, including, but not limited to: (i) product liability claims; (ii) any claim that the Licensed Application fails to conform to any applicable legal or regulatory requirement; and (iii) claims arising under consumer protection or similar legislation.</p>

<h4 dir="ltr" >Definitions</h4>

<p>By "420WithMe" we mean the 420WithMe application, system, website, network and any other feature or platform we may develop in the future.</p>

<p>By "content" we mean anything you or other users share on 420WithMe.</p>

<p>By "data" or "user data" or "user's data" we mean any information gathered by 420WithMe by your use of the system.</p>

<p>By "post" we mean share information or content on 420WithMe.</p>

<p>By "use" we mean access, modify or translate the 420WithMe system.</p>

<h4 dir="ltr" >Other</h4>

<p>420WithMe reserves the right to claim or reclaim any username, even if you have already registered it.</p>

<p>420WithMe reserves the right to define any undefined term or phrase in this agreement.</p>

<p>420WithMe reserves the right to remove any content you post on 420WithMe if we believe it infringes on someone else's intellectual property, is illegal or otherwise violates these terms and conditions.</p>

<p>While the 420WithMe App is free, please be aware your wireless carrier's standard data and texting rates still apply.</p>

<p>You provide consent for us to sync your 420WithMe profile across multiple devices, including any data and information accessed through the 420WithMe application.</p>

<p>This agreement is between you, the user, and 420WithMe (referred to as "us," "we," "420WithMe," and "our").</p>

<p>This agreement represents the entire contract between the user and 420WithMe and supersedes any previous agreements.</p>

<p>If any section of this agreement is found unenforceable, the remaining sections will remain in full force and effect.</p>

<p>If 420WithMe chooses not to enforce any section of this agreement, it shall not be interpreted as 420WithMe waiving our rights or endorsing said content. All of 420WithMe' rights under this agreement are freely assignable by 420WithMe in an event of a merger, acquisition, act of law or asset sale.</p>

<p>You represent and warrant that (i) you are not located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a "terrorist supporting" country; and (ii) you are not listed on any U.S. Government list of prohibited or restricted parties.</p>

<p>You and 420WithMe acknowledge and agree that Apple, and Apple's subsidiaries, are third party beneficiaries of the EULA, and that, upon the user's acceptance of the terms and conditions of the EULA, Apple will have the right (and will be deemed to have accepted the right) to enforce the EULA against the user as a third party beneficiary thereof.</p>

<p>This agreement shall not be interpreted as transferring any third party beneficiary rights.</p>

<p>This agreement does not prevent 420WithMe from complying with the laws.</p>

<p>420WithMe reserves all rights not expressly granted to the user in this agreement.</p>

<p>The user agrees to comply with all laws in their use of 420WithMe.</p>

<p>Please direct any questions, complaints or claims related to this EULA to Nicholas LeBlanc at 2528 Pasqua Street; S4S 0M2, Regina, Saskatchewan, Canada; 306.551.6489 or info@420withme.com.</p>
</div>
<br />
{% endblock %}