{% load timesince_threshold %}
{% comment %}
  Something that django.contrib.comments does not provide:
  An individual template for a single comment, to easily be reused.

  This include is also used by the Ajax comments view.
  The div id should be "c{id}", because the comment.get_absolute_url() points to it.

  NOTE: to override the displayed date format, don't replace this template.
  Instead, define DATETIME_FORMAT in a locale file. Requires setting:

   FORMAT_MODULE_PATH = 'settings.locale'

  Then create 'settings/locale/XY/formats.py' with:

   DATETIME_FORMAT = '...'

  This should give you consistent dates across all views.
{% endcomment %}
{% load i18n %}
<div{% if preview %} 
  id="comment-preview"{% else %} 
  id="c{{ comment.id }}"{% endif %} 
  class="comment-item drop-shadow">
{% if preview %}
	<h3>{% trans "Preview of your comment" %}</h3>
{% endif %}
	<div>
    	<a href="{% url 'profile' comment.user.username %}" 
    	  class="low-opac" 
    	  data-toggle="tooltip" 
    	  data-original-title="Visit {{comment.user.username}}'s profile">
        	<img class="u_img_round"
              	src="{{ comment.user.profile.profile_image_url }}"
              	style="margin-right:3px"/></a>
              <span class="comment-date"> 
              <strong>{{ comment.user.username }}</strong> - <i class="glyphicon glyphicon-time status-time-icon"></i>
              	{{ comment.submit_date | timesince_threshold }}
{% if not comment.is_public %}
	<span class="comment-moderated-flag">({% trans "moderated" %})</span>
{% endif %}
              <div class="comment-bg">{{ comment.comment }}</div> 
              </span>	
	</div>
</div> 